Meta
# Rstudio files
.Rproj.user
DIAlignR.Rproj
# Histpry files
.Rhistory
# Session data files
.RData
# User specific files
.Ruserdata
# Rcpp build file
src/*.o
src/*.so
src/*.dll
# Cpp build file
src/build
src/build/*
# Data files
data/testData2
data/testData2/*
# Vignette
vignettes/DIAlignR*.html
