Meta
# Rstudio files
.Rproj.user
DIAlignR.Rproj
# Histpry files
.Rhistory
# Session data files
.RData
# Travis CI
.travis.yml
# User specific files
.Ruserdata
# Rcpp build file
src/*.o
src/*.so
src/*.dll
# Cpp build file
src/build
src/build/*
!src/build/CMakeLists.txt
# Data files
data/testData2
data/testData2/*
# Python
src/python/build/*
src/python/*.so
src/python/__pycache__
src/python/__pycache__/*
src/python/PyDIAlign.cpp
# Vignette
vignettes/DIAlignR-vignette.R
vignettes/DIAlignR-vignette.html
